/* CSS Document */
@import
	url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

$primary: #2196F3 ;

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	background: #fff 50% fixed;
	background-size: cover;
}

* {
	box-sizing: border-box;
}

.wrapper {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding: 20px;
	background: rgba(darken($ primary, 40%), 0.85);
}

.login {
	border-radius: 2px 2px 5px 5px;
	padding: 10px 16px 0px 10px;
	width: 25%;
	max-width: 350px;
	background: #ffffff;
	position: relative;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
	align-self: center;
	margin-top: 11%;
}

.logotext {
	font-family: Geneva, roboto, Helvetica, sans-serif;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}

.title {
	font-family: Roboto, Helvetica, sans-serif;
	color: #88A1F8;
	font-size: 1.9em;
	font-weight: 500;
	margin: 10px;
	border-bottom: 1px solid #588785;
	padding-bottom: 10px;
	text-align: center;
}

.form-title {
	font-family: Roboto, Helvetica, sans-serif;
	text-align: center;
	font-weight: 200;
	font-size: 18px;
	margin-bottom: 5px;
}
.input-group-addon{
	height:20px;
}
input[type=text], input[type=password] {
	display: block;
	padding: 15px 10px;
	margin-bottom: 10px;
	width: 100%;
	border: 1px solid #ddd;
	transition: border-width 0.3s ease;
	border-radius: 2px;
	color: #ccc;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

input[type=button], input[type=submit] {
	width: 100%;
	height: 15%;
	color: #fff;
	display: block;
	border: none;
	position: absolute;
	left: 0;
	bottom: 0;
	font-family: Roboto, Helvetica, sans-serif;
	background: #88A1F8;
	font-weight: 200;
	font-size: 20px;
}

input[type=button]:hover, input[type=submit]:hover {
	color: #88A1F8;
	background-color: #fff;
	font-weight: 300;
	border: 2px solid #88A1F8;
	-webkit-transition: 0.2s linear;
	-moz-transition: 0.2s linear;
	-o-transition: 0.2s linear;
	transition: 0.2s linear;
}

.bottomborder {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #E1E1E1;
	border-right-color: #E1E1E1;
	border-bottom-color: #E1E1E1;
	border-left-color: #E1E1E1;
}

.border {
	border: 1px solid #EBEBEB;
}

.button {
	background-image: url(../loginimages/button.gif);
	height: 18px;
	border: 1px solid #CCCCCC;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
	text-decoration: none;
}

.forget-link {
	font-family: Roboto, Helvetica, sans-serif;
	font-weight: normal;
	color: #88A1F8;
	font-size: 12px;
	text-decoration: none;
	font-weight: 200;
	padding: 2px;
}

.forget-link:hover {
	font-family: Roboto, Helvetica, sans-serif;
	font-weight: 300;
	-webkit-transition: 0.3s linear;
	-moz-transition: 0.3s linear;
	-o-transition: 0.3s linear;
	transition: 0.3s linear;
}
/*

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	font-weight: bold;
	text-decoration: none;
	color: #A20808}


.textfield {
	font-family: inherit;
	color: #666;
	text-decoration: none;
	border: 1px solid #b2b2b2;
	font-size: 15px;
	height: 33px;
    width: 25%;	
    border-radius: 3px;
	
}
.form-heading{
	color: #4E4E4E;
	font-family: "Benton Sans Light", sans-serif;
	font-size:20px;
	margin-bottom: 10px;

}

.login-label{
	font-size: 17px;
	color: #4E4E4E;
	font-family: Benton Sans Light, sans-serif;
	margin-right: 16%;
  	text-align: center;
  	opacity: 0.8;
}

.un{
	display: inline;
    vertical-align: top;
    height: 25px;
    line-height: 25px;
   

}

*/
.star {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #CC0000;
	text-decoration: none;
}

h3 {
	margin: 0;
	padding: 7px 0 0 0;
	font-size: 16px;
	text-transform: uppercase;
}

div#feature_list {
	width: 980px;
	height: 245px;
	overflow: hidden;
	position: relative;
}

div#feature_list ul {
	position: absolute;
	top: 0;
	list-style: none;
	padding: 0;
	margin: 0;
	height: 228px;
}

ul#tabs {
	left: 0;
	z-index: 2;
	width: 312px;
}

ul#tabs li {
	font-size: 12px;
	font-family: Arial;
}

ul#tabs li img {
	padding: 5px;
	border: none;
	float: left;
	margin: 10px 10px 0 0;
}

ul#tabs li a {
	color: #222;
	text-decoration: none;
	display: block;
	padding: 10px;
	height: 28px;
	outline: none;
}

ul#tabs li a:hover {
	text-decoration: underline;
}

ul#tabs li a.current {
	color: #FFF;
	background-image: url(../loginimages/feature-tab-current.png);
}

ul#tabs li a.current:hover {
	text-decoration: none;
	cursor: default;
}

ul#output {
	right: 0;
	width: 725px;
	height: 400px;
	position: relative;
}

ul#output li {
	position: absolute;
	width: 725px;
	height: 238px;
}

ul#output li a {
	position: absolute;
	bottom: 10px;
	right: 10px;
	padding: 8px 12px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFF;
	background: #000;
	-moz-border-radius: 5px;
}

ul#output li a:hover {
	background: #D33431;
}