.ddcolortabs{
padding: 0;
width: 100%;
background: transparent;
voice-family: "\"}\"";
voice-family: inherit;
}

.ddcolortabs ul{
font: normal 9px Arial;
margin:0;
padding:0;
list-style:none;
}

.ddcolortabs li{
	display:inline;
	margin:0 2px 0 0;
	padding:0;
	text-transform:capitalize;
	font-family: arial;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
}


.ddcolortabs a{
float:left;
color: #3A599A;
background: #EDF4FC url(../theme/blue/color_tabs_left.gif) no-repeat left top;
margin:0 2px 0 0;
padding:0 0 1px 1px;
text-decoration:none;
}

.ddcolortabs a span{
float:left;
display:block;
background: transparent url(../theme/blue/color_tabs_right.gif) no-repeat right top;
padding: 4px 4px 2px 4px;
}

.ddcolortabs a span{
float:none;
}

.ddcolortabs a:hover{
background-color: #77AFED;
color: white;
}

.ddcolortabs a:hover span{
background-color: #77AFED;
}

.ddcolortabs a.current, #ddcolortabs a.current span{ /*currently selected tab*/
background-color: #77AFED;
color: white;
}

.ddcolortabsline{
clear: both;
padding: 0;
width: 100%;
height: 8px;
line-height: 8px;
background: #77AFED;
border-top: 1px solid #fff; /*Remove this to remove border between bar and tabs*/
}



.tabcontent{
display:none;
}
