/* ######### CSS for Shade Tabs. Remove if not using ######### */

.shadetabs{
	padding: 3px 0;
	margin-left: 0;
	margin-top: 1px;
	margin-bottom: 0;
	list-style-type: none;
	text-align: left; /*set to left, center, or right to align the menu as desired*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
}

.shadetabs li{
display: inline;
margin: 0;
}

.shadetabs li a{
text-decoration: none;
position: relative;
z-index: 1;
padding: 3px 3px;
margin-right: 1px;
border: 1px solid #B1C8E3;
color: #2d2b2b;
background: white url(images/shade.gif) top left repeat-x;
}

.shadetabs li a:visited{
color: #3A599A;
}

.shadetabs li a:hover{
text-decoration: underline;
color: #3A599A;
}

.shadetabs li a.selected{ /*selected main tab style */
background-image: url(../images/topheader.gif);
border-bottom-color: white;
}

.shadetabs li a.selected:hover{ /*selected main tab style */
text-decoration: none;
}

.tabcontent{
display:none;
}

@media print {
.tabcontent {
display:block !important;
}
	



